.custom-input,
.custom-textarea {
  position: relative;

  // display: flex;
  // width: 530px;
  // padding: 14px 0 28px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  label {
    @media screen and (max-width: 767px) {
      align-items: flex-start;
      flex-direction: column;
    }

    input,
    textarea {
      flex-grow: 1;
      max-width: 100%;
      width: 100%;
      min-height: 43px;
      margin-left: auto;
      padding: 10px;
      padding-left: 15px;
      background: #f9fbfd;

      border: 0;
      outline: none;
      transition: border 0.3s ease;

      font-family: "Montserrat", "Arial", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      display: flex;
      align-items: center;
      color: #011c40;

      &::placeholder {
        font-family: "Montserrat", "Arial", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        display: flex;
        align-items: center;
        color: rgba(1, 28, 64, 0.7);
      }

      @media screen and (max-width: 767px) {
        max-width: unset;
        width: 100%;
      }

      &:hover {
        outline: 2px solid #e3ecf6;
      }

      &:focus {
        outline: 2px solid #e3ecf6;
      }
    }
  }

  &__label {
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      outline: 2px solid #ff1553;

      &:focus,
      &:hover {
        outline: 2px solid rgba(#ff1553, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      outline: 2px solid #22b259;

      &:focus,
      &:hover {
        outline: 2px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -15px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
