.form {
  background-color: #E3ECF6;
  background: url("./../img/form-desktop.png");

  background-image:
  -webkit-image-set(
    url("./../img/form-desktop@2x.webp") 2x,
    url("./../img/form-desktop.webp") 1x,
    url("./../img/form-desktop@2x.png") 2x,
    url("./../img/form-desktop.png") 1x
);

background-image:
  image-set(
    url("./../img/form-desktop@2x.webp") type("image/webp") 2x,
    url("./../img/form-desktop.webp") type("image/webp") 1x,
    url("./../img/form-desktop@2x.png") type("image/png") 2x,
    url("./../img/form-desktop.png") type("image/png") 1x
);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 555px;
  padding-top: 50px;
  padding-bottom: 50px;

  &__container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }

  & h2 {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #011C40;
    margin: 0;
  }

  &__info {
    width: 36.1vw;
    margin-left: -6px;
    padding-top: 162px;
    display: flex;
    flex-direction: column;
    gap: 9px;

    & p {
      font-family: "Montserrat", "Arial", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      display: flex;
      align-items: center;
      color: #011C40;
      margin: 0;
    }
  }

  & form {
    width: 403px;
    background: #011C40;
    box-shadow: 0px 4px 45px rgba(1, 28, 64, 0.15);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 42px;
    padding-left: 52px;
    padding-right: 48px;
    padding-bottom: 50px;
    margin-right: -4px;

    & p {
      margin: 0;
      font-family: "Montserrat", "Arial", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      display: flex;
      align-items: center;
      color: #F9FBFD;
      margin-bottom: 8px;
    }

    &__checkbox {
      display: flex;
    }

    & span {
      font-family: "Montserrat", "Arial", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 130%;
      display: flex;
      align-items: center;
      color: #F9FBFD;
    }
  }

  & button {
    width: 100%;
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #011C40;
    background-color: #F9FBFD;
    margin-top: 11px;
  }
}

@include vp-1023 {
  .form {
    padding-top: 86px;
    padding-bottom: 100px;
    background: url("./../img/form-tablet.png");

    background-image:
    -webkit-image-set(
      url("./../img/form-tablet@2x.webp") 2x,
      url("./../img/form-tablet.webp") 1x,
      url("./../img/form-tablet@2x.png") 2x,
      url("./../img/form-tablet.png") 1x
  );

  background-image:
    image-set(
      url("./../img/form-tablet@2x.webp") type("image/webp") 2x,
      url("./../img/form-tablet.webp") type("image/webp") 1x,
      url("./../img/form-tablet@2x.png") type("image/png") 2x,
      url("./../img/form-tablet.png") type("image/png") 1x
  );

    background-size: cover;
    background-position: bottom center;
    min-height: 805px;

    & h2 {
      font-size: 34px;
    }

    &__container {
      flex-direction: column;
      align-items: center;
      gap: 53px;
    }

    &__info {
      width: auto;
      margin: 0;
      align-items: center;
      justify-content: center;
      padding: 0;
      gap: 6px;

      & p {
        text-align: center;
      }
    }

    & form {
      margin: 0;
    }
  }
}

@include vp-767 {
  .form {
    padding-top: 58px;
    padding-bottom: 65px;
    background: url("./../img/form-mobile.png");

    background-image:
    -webkit-image-set(
      url("./../img/form-mobile@2x.webp") 2x,
      url("./../img/form-mobile.webp") 1x,
      url("./../img/form-mobile@2x.png") 2x,
      url("./../img/form-mobile.png") 1x
  );

  background-image:
    image-set(
      url("./../img/form-mobile@2x.webp") type("image/webp") 2x,
      url("./../img/form-mobile.webp") type("image/webp") 1x,
      url("./../img/form-mobile@2x.png") type("image/png") 2x,
      url("./../img/form-mobile.png") type("image/png") 1x
  );

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: auto;

    &__container {
      gap: 34px;
    }

    & h2 {
      text-align: center;
      font-size: 24px;
      line-height: 130%;
    }

    &__info {
      gap: 14px;

      & p {
        font-size: 16px;
        line-height: 140%;
      }
    }

    & form {
      width: 100%;
      padding: 32px 30px 40px;

      & p {
        text-align: center;
        margin-bottom: 5px;
      }

      & span {
        margin-top: -2px;
      }
    }

    & button {
      margin-top: 6px;
    }

    & br {
      display: none;
    }
  }
}
