.intro {
  min-height: 650px;
  background-color: #011c40;
  padding-top: 270px;
  background: url("./../img/intro-desktop.png");

  background-image:
  -webkit-image-set(
    url("./../img/intro-desktop@2x.webp") 2x,
    url("./../img/intro-desktop.webp") 1x,
    url("./../img/intro-desktop@2x.png") 2x,
    url("./../img/intro-desktop.png") 1x
);

background-image:
  image-set(
    url("./../img/intro-desktop@2x.webp") type("image/webp") 2x,
    url("./../img/intro-desktop.webp") type("image/webp") 1x,
    url("./../img/intro-desktop@2x.png") type("image/png") 2x,
    url("./../img/intro-desktop.png") type("image/png") 1x
);

background-repeat: no-repeat;
background-size: cover;
background-position: bottom;

  &__container {
    padding-left: 198px;
  }

  & h2 {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    display: flex;
    align-items: center;
    color: #F9FBFD;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    margin-bottom: 12px;
  }

  & p {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #F9FBFD;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
  }

  & br {
    display: none;
  }
}

@include vp-1023 {
  .intro {
    min-height: 638px;
    background: url("./../img/intro-tablet.png");

    background-image:
    -webkit-image-set(
      url("./../img/intro-tablet@2x.webp") 2x,
      url("./../img/intro-tablet.webp") 1x,
      url("./../img/intro-tablet@2x.png") 2x,
      url("./../img/intro-tablet.png") 1x
  );

  background-image:
    image-set(
      url("./../img/intro-tablet@2x.webp") type("image/webp") 2x,
      url("./../img/intro-tablet.webp") type("image/webp") 1x,
      url("./../img/intro-tablet@2x.png") type("image/png") 2x,
      url("./../img/intro-tablet.png") type("image/png") 1x
  );

    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 268px;

    & h2 {
      font-size: 50px;
      line-height: 61px;
    }

    & p {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

@include vp-767 {
  .intro {
    min-height: 500px;
    background: url("./../img/intro-mobile.png");

    background-image:
    -webkit-image-set(
      url("./../img/intro-mobile@2x.webp") 2x,
      url("./../img/intro-mobile.webp") 1x,
      url("./../img/intro-mobile@2x.png") 2x,
      url("./../img/intro-mobile.png") 1x
  );

  background-image:
    image-set(
      url("./../img/intro-mobile@2x.webp") type("image/webp") 2x,
      url("./../img/intro-mobile.webp") type("image/webp") 1x,
      url("./../img/intro-mobile@2x.png") type("image/png") 2x,
      url("./../img/intro-mobile.png") type("image/png") 1x
  );

    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 176px;

    & h2 {
      font-size: 36px;
      line-height: 125%;
    }

    & p {
      font-size: 16px;
      line-height: 140%;
    }

    & br {
      display: block;
    }
  }
}
